body {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.clock {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(-3px);
  align-items: center;
}

.clock-container {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
}

.hand {
  width: 50%;
  background: blue;
  height: 5px;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: 0.02s;
  transition-timing-function: cubic-bezier(0,3.64,.26,.99);
}

.sec-hand {
  margin: 2px;
  top: 241px;
  height: 2px;
  background: red;
}

.min-hand {
  top: 45%;
  width: 45%;
  margin: 25px;
}

.hour-hand {
  width: 30%;
  margin: 20%;
  top: 30%;
}

.digital {
  margin: 35%;
  width: 36%;
}

.dotted-line {
  border: 10px dotted blue;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}